body {
    background: lightgray;
    padding-top: 130px;
}
img {
    display: block;
    margin: 70px auto;
    cursor: pointer;
}
input[type=number] {
    width: 100px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
span {
    font-size: 20px;
    display: inline-block;
    padding: 7px;
}
.text_cntr {
    text-align: center;
}

.menu {
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 1;
    border-bottom-right-radius: 20px;
}